---

import Badge from '../components/Badge.astro';
import GitHubIcon from '../Icons/GitHubIcon.astro';
import InstagramIcon from '../Icons/InstagramIcon.astro';
import SocialPill from '../Icons/SocialPill.astro';
import LinkdinIcon from '../Icons/LinkdinIcon.astro';
import Layout from '../layouts/Layout.astro';
import GmailIcon from '../Icons/GmailIcon.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCase from '../Icons/BriefCase.astro';
import CardProject from '../components/CardProject.astro';
import ProjectsIcon from '../Icons/ProjectsIcon.astro';

---

<Layout title="Bricenocode Portfolio - Desarrollador y Programador Web">
	<main class="px-5">
		<SectionContainer id="main" class="py-44 pb-16 mx-5 lg:mx-auto">

			
			<div class="flex items-center space-x-5 flex-col sm:flex-row">
				<img class="rounded-full size-32 mb-5"  src="https://avatars.githubusercontent.com/u/147144442?s=400&u=4ae555345638b47f468f1b3fa44f2631201ab498&v=4" alt="">
				<a 
					href="https://www.linkedin.com/in/bricenodev/"
					target=_blank
					rel="noopener"
					class="flex justify-center items-center"
				>
					 <Badge> Disponible para escribir c칩digo</Badge>
				</a>	
			</div>
			<h1 class="text-white text-2xl lg:text-5xl font-bold flex flex-col justify-center md:flex-row gap-2 pb-4">
				Hola游녦 Soy Miguel Brice침o
			</h1>
			<h2 class="text-xl text-wrap opacity-80 max-w-[800px] text-white">
				Tengo <span class="text-green-400"> +1 a침o experiencia </span> en c칩digo. Desarrollador Web Junior. De  <span class="text-violet-400 ">Madrid, Espa침a</span>. Listo para picar c칩digo!
			</h2>
	
			<nav class="flex gap-2 my-5 flex-wrap text-white">
				<SocialPill href="https://www.instagram.com/migueldbg_/">
						<InstagramIcon  
							class="size-6 rounded-full " 
						/>
						Instagram
				</SocialPill>
				<SocialPill  href="https://www.lnkedin.com/in/bricenodev/">
						<LinkdinIcon  
						class="size-6 rounded-full"
						/>
						LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/bricenocode"> 
						<GitHubIcon  
							class="size-6"
						/>
						GitHub
				</SocialPill>
				<SocialPill href=""> 
					<GmailIcon  
						class="size-6 flex-grow"
					/>
					Email
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer
			id="experience"
		>
				<h2 class="text-2xl font-semibold mb-6 flex gap-3 items-center text-white">
					<BriefCase class="size-8"/>
					Experiencia Profesional
				</h2>
				<Experience/>
		</SectionContainer>

		<SectionContainer
			id="projects"
			class= lg:w-[1200px]"
		>
			<h2 class="text-2xl font-semibold mb-6 flex gap-3 items-center text-white">
				<ProjectsIcon class="size-8"/>
				Proyectos
			</h2>
			<CardProject/>
		</SectionContainer>


	</main>
</Layout>
