---

--- 


<div class="w-auto flex  ml-2 flex-col md:flex-col lg:flex-row mb-10 justify-start">
  
  <div class="mr-20 relative">
    <img
    class=" rounded-lg min-w-[100px] w-[400px] h-auto md:w-[450px] z-10 drop-shadow-3xl ml-8"
    src="./me.webp"
    alt="image of myself"
  />
  </div>
  <div class="w-full sm:w-[60%] md:w-[70%] lg:[w-40%]">
    <h1 class="text-white font-bold text-xl sm:text-3xl mt-8 mb-5 text-pretty">
    游녦 Mi nombre es Miguel Brice침o 
    </h1>

    <p class="text-white w-full sm:text-xl sm:w-[35rem] md:w-[55rem] lg:w-[20rem] xl:w-[30rem] mb-10">
      Un entusiasta de la tecnolog칤a y el desarrollo web. Actualmente, estoy finalizando mis estudios en Desarrollo de Aplicaciones Web (DAW), donde he descubierto mi pasi칩n por crear aplicaciones din치micas y soluciones innovadoras. Me encanta aprender nuevas tecnolog칤as y enfrentar desaf칤os que me permitan crecer tanto personal como profesionalmente.

      Con experiencia en HTML, CSS, JavaScript, React y Node.js, disfruto del proceso creativo de convertir ideas en proyectos reales. Me considero una persona proactiva, curiosa y comprometida con la mejora continua. Busco aportar mis habilidades en proyectos que generen impacto, mientras sigo desarroll치ndome como profesional. 춰Siempre estoy abierto a nuevas oportunidades y colaboraciones!
    </p>
  </div>
</div> 