---

--- 


<div class="w-auto flex  ml-2 flex-col md:flex-col lg:flex-row mb-10 justify-start">
  
  <div class="mr-20 relative">
    <img
    class=" rounded-lg min-w-[100px] w-[500px] h-auto md:w-[450px] z-10 drop-shadow-3xl ml-8"
    src="./me.webp"
    alt="image of myself"
  />
  </div>
  <div class="w-full md:w-[50%] lg:[w-50%]">
    <h1 class="text-white font-bold text-xl sm:text-3xl mt-8 mb-5 text-pretty">
    游녦 Mi nombre es Miguel Brice침o 
    </h1>

    <p class="text-white w-full sm:text-xl sm:w-[35rem] md:w-[35rem] lg:w-[25rem] xl:w-[30rem] mb-10 text-opacity-80">
      Un entusiasta de la <span class=" text-green-400 ">tecnolog칤a y el desarrollo web</span>. Actualmente, estoy finalizando mis estudios en <span class=" text-green-400 ">Desarrollo de Aplicaciones Web (DAW)</span>, donde he descubierto mi pasi칩n por crear <span class="">aplicaciones din치micas</span> y <span class="">soluciones innovadoras</span>. Me encanta aprender nuevas tecnolog칤as y enfrentar <span class="">desaf칤os</span> que me permitan crecer tanto personal como profesionalmente.

      Con experiencia en <span class="text-yellow-400">HTML</span>, <span class="text-yellow-400">CSS</span>, <span class="text-yellow-400">JavaScript</span>, <span class="text-yellow-400">React</span> y <span class="text-yellow-400">Node.js</span>, disfruto del proceso creativo de convertir ideas en <span class=" text-green-400 ">proyectos reales</span>. Me considero una persona proactiva,curiosa y comprometida con la mejora continua. Busco aportar mis habilidades en <span class=" text-green-400 ">proyectos que generen impacto</span>, mientras sigo desarroll치ndome como profesional.  <span class="text-yellow-400">춰Siempre estoy abierto a nuevas oportunidades y colaboraciones!</span>
      
    </p>
  </div>
</div> 