

<span class="relative inline-flex overflow-hidden rounded-md p-[1px]">
  <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#9bf199_0%,#83f1fc_20%,#9bf199_100%)]">
   </span> 
   <span 
     class="inline-flex items-center flex-wrap justify-center w-full px-2 py-2 text-[12px] sm:text-md  rounded-md cursor-pointer bg-gray-800 text-white/80 backdrop-blur-3xl whitespace-nowrap ">
    <slot/>
  </span>
</span>